body {
  background-size: cover;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("bell-peppers.jpg");
  background-size: cover;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  height: 100vh;
}

.container {
  background: rgb(250, 250, 250);
  max-width: 30%;
  margin: 100px auto;
  border: 1px solid black;
  border-radius: 10px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
  margin-left: 2.5px;
  margin-right: 2.5px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#increment-btn {
  background: #2c2891;
}

#save-btn {
  background: #db0a0a;
}

#save-el {
  font-weight: bold;
}

.total {
  font-weight: bold;
  text-transform: uppercase;
}
